---
import AppPanel from "./AppPanel.astro";
---

<AppPanel
  id="pg-templates"
  navId="nav-templates"
  title="老师常说的话"
  subtitle="美国小学课堂里常见的指令，<br />提前熟悉，听到不慌张"
>
  <div class="tpl-tabs" id="tpl-tabs"></div>
  <div class="tpl-list" id="tpl-list"></div>
</AppPanel>
